* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

#productsList {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
    padding: 30px;
}

#productsList li {
    border-radius: 20px;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#productsList li p {
    padding-top: 10px;
    padding-bottom: 10px;
}